/*
* Fonts Style
*/
.big-font {
    font-family: $big-font;

    @media screen and (min-width: $display-sm) and (max-width: $display-lg) {
        margin-top: 5%;
    }
}

.big-font-2 {
    left: 0;
    top: 0px;
    z-index: -1;
    font-size: 7vw;
    font-weight: 900;
    color: $gray-rgba;
    position: absolute;

    @media screen and (min-width: $display-xs) and (max-width: $display-xm) {
        margin: 7% 3%;
        font-size: 45px !important;
    }

    @media screen and (min-width: $display-xm) and (max-width: $display-lg) {
        margin: 5% 3%;
        font-size: 55px !important;
    }
}